{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center py-3">
        <div class="col-md-8 p-1">
            <div class="border rounded p-1 mt-1 contact-form">
                <form action="/contact/" method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.errors }}
                    {{ form|crispy }}
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}