{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-6 m-auto">
      <h1>{% trans "Login" %}</h1>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-6 m-auto border-clr rounded p-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}" hidden>{% trans "Forgot Password?" %}</a>
        <button class="primaryAction btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}