:root {
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#active {
    background-color: rgba(160, 160, 252, 0.3);
}

/* Display star rating in html */
.rating {
    width: 300px;
    margin: 0 2rem 1rem 0;
    font-size: 35px;
    overflow: hidden;
}

.rating input {
    float: right;
    opacity: 0;
    position: absolute;
    width: 10px;
}

.rating input,
.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label {
    margin-right: 1rem;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating input:hover,
.rating input:hover~input,
.rating input:focus,
.rating input:focus~input {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 input {
    float: none
}

/* Display star rated in html */
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}

.star-ratings-css-mt {
    margin-top: 1rem;
}

.star-ratings-css-pos {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 50rem;
    margin-bottom: 1rem;
}

/* Scroll to top button */
#scroll-top-btn {
    position: fixed;
    bottom: 2rem;
    right: 0.8rem;
    z-index: 100;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    color: #afafaf;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease-in-out;
}

#scroll-top-btn i {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

#scroll-top-btn i:hover {
    opacity: 0.6;
}

#scroll-top-btn:focus {
    opacity: 0.8;
}

#scroll-top-btn:active {
    opacity: 0.9;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .rating {
        margin: auto;
        width: 275px;
    }
}

@media screen and (max-width: 768px) {
    .rating {
        margin: auto;
        width: 250px;
    }
}

@media screen and (max-width: 320px) {
    .rating label {
        margin-right: 2rem;
        font-size: 20px;
    }
}