html,
body {
    height: 100vh;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.rating {
    width: 300px;
    margin: 0 2rem 1rem 0;
    font-size: 35px;
    overflow: hidden;
}

.rating input {
    float: right;
    opacity: 0;
    position: absolute;
    width: 10px;
}

.rating input,
.rating label {
    float: right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.rating label {
    margin-right:1rem;
}

.rating label:hover~label,
.rating input:focus~label,
.rating label:hover,
.rating input:hover,
.rating input:hover~input,
.rating input:focus,
.rating input:focus~input {
    color: orange;
    cursor: pointer;
}

.rating2 {
    direction: rtl;
}

.rating2 input {
    float: none
}

/* display star rating in html */
.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

.star-ratings-css-mt {
    margin-top: 1rem;
}

.star-ratings-css-pos {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-right: 50rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .rating  {
        margin: auto;
        width: 275px;
    }    
}

@media screen and (max-width: 768px) {
    .rating  {
        margin: auto;
        width: 250px;
    }    
}

@media screen and (max-width: 320px) {
    .rating label {
        margin-right: 2rem;
        font-size: 20px;
    }    
}