{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %} </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">MovieHub</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_ratings' %}">Top 20 Movies</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'favourites' %}">Favourites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <div class="nav-link text-white">Logged in as {{ user }}</div>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>

                <form action="/search/" method="GET" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        name="query">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-8 offset-mt-2 m-auto">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show text-center" id="msg" role="alert">
                    {{ message| safe }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}
    <!-- Scroll to top button -->
    <div id="scroll-top-btn"><i class="fa-solid fa-circle-chevron-up"></i></div>

    <footer class="container-fluid bg-dark text-white text-center mt-5">
        <a href="https://github.com/Vasileios20/movieHub" target="_blank"
            aria-label="Visit the game's repository page on git hub"><i class="fa-brands fa-github text-white"></i></a>
        <a href="https://www.linkedin.com/in/vasileios-tsimourdagkas/" target="_blank"
            aria-label="Visit developers LinkedIn profile"><i class="fa-brands fa-linkedin text-white"></i></a>
        <a href="https://www.themoviedb.org/" target="_blank" aria-label="Visit TMDB API website"><img
                src="{% static 'tmdb.svg' %}" alt="" style="width: 90px;"></a>
    </footer>

    <script src="https://kit.fontawesome.com/cdf0a3356f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
</body>

</html>