{% extends "base.html" %}

{% block title %}
Comments
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">{{ data.title }}</h1>
    <div class="row">
        <div class="col-3">
            <img src="https://image.tmdb.org/t/p/w500/{{ data.poster_path }}" class="img-fluid" width="200" height="100"
                alt="...">
        </div>
        <div class="col-8">
            <h5 class="h5">Release date: {{ release_date }}</h5>
            <p class="card-text">Overview: {{ data.overview }}</p>
            <p class="card-text">Genres: {{ genres }}</p>
            <p class="card-text">Rating: </p>
            <p class="card-text">Vote count: </p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">

        <div class="col-12 p-2 bg-light">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}
            <p class="d-inline mr-3 text-">Posting as: {{ user.username }}</p>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group  " id="form-placeholder">
                    <label for="comment"></label>
                    <textarea class="form-control" name="comment" id="comment" cols="5" rows="2"
                        placeholder="Leave a comment"></textarea>
                </div>
                <div class="form-group d-none" id="form-ckeditor">
                    {{ form.media }}
                    {{ form.as_p }}
                </div>
                <div>
                    <button type="submit" class="btn btn-primary float-right mr-3">Submit</button>
                </div>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}