{% extends "base.html" %}

{% block title %}
Results
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for fav in fav_list %}
    <div class="card" style="width: 15rem; margin: 5px;">
      <img src="https://image.tmdb.org/t/p/w500/{{ fav.poster_path }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ fav.title }}</h5>
        <a href="/search_results/{{ fav.id }}/" class="btn btn-outline-primary mt-2">View details</a>
        <a href="{% url 'add_favourites' fav.id %}" class="btn btn-outline-danger mt-2">Remove from favourites</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}