{% extends "base.html" %}

{% block title %}
Results
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="h1 text-center">{{ data.title }}</h1>
  <div class="row">
    <div class="col-lg-4">
      <img src="https://image.tmdb.org/t/p/w500/{{ data.poster_path }}" class="card-img-top img-fluid" width="380" height="200"
        alt="...">
      <a href="{% url 'comment_movie' data.movie_id %}" class="btn btn-dark mt-2">Comments <i class="fa-regular fa-comments"></i></a>
      {% if user.is_authenticated %}
      {% if fav %}
      <button class="btn btn-outline-success mt-2 float-right" disabled>Favourites <i class="fa-solid fa-check"></i></button>
      {% else %}
      <a href="{% url 'add_favourites' data.movie_id %}" class="btn btn-success mt-2 float-right">Add to favourites</a>
      {% endif %}
      {% endif %}
    </div>
    <div class="col-sm-8">
      <h5 class="h5">Release date: {{ data.release_date }}</h5>
      <p class="card-text">Overview: {{ data.overview }}</p>
      <p class="card-text">Vote average: {{ data.vote_average }}</p>
      <p class="card-text">Vote count: {{ data.vote_count }}</p>
      <p tabindex="0" class="card-text border" data-toggle="popover" data-trigger="focus" title="Cast"
        data-content="{{ data.cast }}" style="cursor: pointer; width: fit-content;">Click to see cast members</p>
      <h5>Genres</h5>
      <ul>
        {% for genre in data.genres %}
        <li class="card-text">{{ genre.name }}</li>
        {% endfor %}
      </ul>
      <p class="card-text"><a href="{{ data.homepage }}" target="_blank">Homepage</a></p>
      <h5 class="h5">Production companies</h5>
      <ul>
        {% for company in data.production_companies %}
        <li class="card-text">{{ company.name }}</li>
        {% endfor %}
      </ul>
      <h5 class="h5">Production countries</h5>
      <ul>
        {% for country in data.production_countries %}
        <li class="card-text">Genre: {{ country.name }}</li>
        {% endfor %}
      </ul>
      <h5 class="h5">Spoken languages</h5>
      <ul>
        {% for language in data.spoken_languages %}
        <li class="card-text">{{ language.name }}</li>
        {% endfor %}
      </ul>
      <p class="card-text">Original language: {{ data.original_language }}</p>
      <p class="card-text">Original title: {{ data.original_title }}</p>
      <p class="card-text">Budget: {{ data.budget }}</p>

      <p class="card-text">Revenue: {{ data.revenue }}</p>
      <p class="card-text mb-4">Runtime: {{ data.runtime }}min</p>
    </div>
  </div>
</div>
</div>

{% endblock %}